%h2 New Account

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!

  = f.label :name
  = f.text_field :name, placeholder: "Player's name"

  = f.label :email
  = f.email_field :email, placeholder: "Email for sign-in"

  = f.label :password
  = f.password_field :password, placeholder: "Password for sign-in"

  = f.label :password_confirmation
  = f.password_field :password_confirmation, placeholder: "Please repeat password"

  %br/
  %button.btn{type: "submit"} Sign Up

= render "devise/shared/links"
