.container

  %h3 Created Challenges

  - if @maps.present?
    %table.table.table-condensed.table-bordered.flixel-font
      %thead
        %th Level
        %th Challenge Name
        %th{title: 'Played ranked games in this challenge.'} Ranked Games
        %th{title: 'Players that played a ranked game in this challenge and lost.'} Players killed
      %tbody
        - n = 0 # count like this because .entries.size makes another query
        - @maps.each_with_index do |map, i|
          - n += 1
          %tr
            %td.short= map.score
            %td
              %canvas.map-canvas{width: '80px', height: '60px', style: 'border: 1px solid #d3d3d3;',
                'data-mapdata' => map.data, 'data-href' => url_for(map)}
              = link_to map.name, map
            %td= map.played_games
            %td= map.won_games

    %p
      You have created #{n} challenges.
      %a{href: play_path} Create another challenge


  - else
    %p You have not created any challenge yet.
    %p
      %a{href: play_path} Build new challenge
