.container
  %h3 Player
  %p
    Player: #{@user.name}
  %p
    Level: #{@user.score}
  %p
    Coins: #{@user.coins}

  %p
    Ranked Games Played: #{@user.played_games}
    - if @user.played_games > 0
      %br/
      #{@user.won_games} victories (#{(100 * @user.won_games / @user.played_games).to_i}% win rate)

  - if @maps.present?
    %h5 Created Challenges:
    %ul
      - @maps.each do |map|
        %li
          = link_to map.name, map
          (
          = map.score
          )
  - else
    %p Created Challenges: none

  %p
    Player since: #{l @user.created_at.to_date, :format => :long}