
%ul.nav.pull-left
  %li.divider-vertical
  %li= link_to 'Users Ranking', users_path
  %li.divider-vertical
  %li= link_to 'Maps Ranking', maps_path
  %li.divider-vertical

%ul.nav.pull-right
  - if user_signed_in?
    %li.dropdown
      %a.dropdown-toggle(data-toggle="dropdown" href="#" role="button")
        %i.icon-user
        = current_user.name
        %b.caret
      %ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
        %li
          %a{ href: edit_user_registration_path }
            %i.icon-edit
            Edit account
        %li
          %a{ href: destroy_user_session_path, data: {method: 'delete'}, rel: 'nofollow' }
            %i.icon-off
            Logout

  - else
    %li
      = link_to 'Sign in', new_user_session_path
    %li
      = link_to 'Sign up', new_user_registration_path
