
%ul.nav.pull-left
  %li.divider-vertical
  %li
    = link_to 'users', users_path
  %li.divider-vertical

%ul.nav.pull-right
  %li
    - if user_signed_in?
      = link_to 'Edit account', edit_user_registration_path
    - else
      = link_to 'Sign up', new_user_registration_path

  %li
    - if user_signed_in?
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
    - else
      = link_to 'Login', new_user_session_path
