
%ul.nav.pull-left
  %li{class: ('active' if current_page?(root_path))}= link_to 'Home', root_path
  %li{class: ('active' if current_page?(play_path))}= link_to 'Build & Play', play_path
  %li{class: ('active' if current_page?(users_ladder_path))}= link_to 'Top Players', users_ladder_path
  %li{class: ('active' if current_page?(maps_ladder_path))}= link_to 'Top Challenges', maps_ladder_path
  - if user_signed_in?
    %li{class: ('active' if current_page?(maps_my_maps_path))}= link_to 'My Creations', maps_my_maps_path
    %li{class: ('active' if current_page?(games_my_games_path))}= link_to 'My Play History', games_my_games_path


%ul.nav.pull-right
  - if user_signed_in?
    %li.dropdown
      %a.dropdown-toggle(data-toggle="dropdown" href="#" role="button")
        %i.icon-user
        = current_user.name
        %b.caret
      %ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
        %li
          %a{ href: url_for(current_user) }
            %i.icon-user
            My profile
        %li
          %a{ href: edit_user_registration_path }
            %i.icon-edit
            Edit account
        %li
          %a{ href: destroy_user_session_path, data: {method: 'delete'}, rel: 'nofollow' }
            %i.icon-off
            Logout

  - else
    %li
      = link_to 'Sign in', new_user_session_path
    %li
      = link_to 'Sign up', new_user_registration_path
